@font-face	{
	font-family: "Ubuntu";
	src: url(Ubuntu-R.ttf);
}

body	{
	font-family: "Georgia";
}

/*main, always visible*/
.header	{
	font-family: "Ubuntu";
	font-size: 20px;
	height: 150px;
	left: 20%;
	line-height: 2px;
	padding-bottom: 40px;
	position: absolute;
	right: 0;
	text-align: center;
}

/*tab container*/
.tab	{
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: left;
    top: 150px;
    width: 20%;
}

/*individual buttons*/
.tabb	{
	background-color: #FFFFFF;
	border: none;
	color: #0000FF;
	font-family: "RomanS";
	font-size: 30px;
	font-weight: bold;
}

.tabb:focus	{
	outline: none;
}

.tabb:hover	{
	border-bottom: groove;
	color: #000000;
	font-style: italic;
	font-weight: bold;
}

/*within tabs*/
.tabcontent	{
	display: none;
	left: 20%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 150px;
}

/*hello world*/
#greeting	{
	font-size: 30px;
}

/*about me tab*/
#intro	{
	font-family: "Georgia";
	text-align: center;
}

/*projects tab*/
#projects	{
	text-align: left;
}

/*resume tab*/
#resume	{
	text-align: center;
}

/*list in projects tab*/
#workedon	{
	text-align: left;
}