body	{
	font-family: "Georgia";
}

.activities	{
}

.greeting	{
	font-size: 30px;
}

.header	{
	line-height: 2px;
	padding-bottom: 40px;
	text-align: center;
}

.intro	{
	font-family: "Georgia";
	text-align: center;
}

.resume	{
}

.sections	{
}